.categoryWrapper {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  overflow: visible;
}

.categoryList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  scrollbar-width: none;
}

.categoryList::-webkit-scrollbar {
  display: none;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 72px;
  flex-shrink: 0;
}

.categoryItem:hover {
  transform: translateY(-4px);
}

.active .emoji {
  background-color: var(--main-blue);
}

.emoji {
  background-color: #fff;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s;
  overflow: hidden;
}

.categoryImage {
  width: 100%;
  height: 65px;
  object-fit:cover;
}

.categoryItemText {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-dark);
}

.arrowButton {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrowButton svg {
  width: 18px;
  height: 18px;
  stroke: var(--main-blue);
}

.arrowButton:hover {
  background-color: var(--main-blue);
  transform: translateY(-50%) scale(1.05);
}

.arrowButton:hover svg {
  stroke: var(--btn-hover-stroke);
}

@media (max-width: 768px) {
  .categoryWrapper {
    padding: 0 1rem;
  }

  .arrowButton {
    width: 28px;
    height: 28px;
  }

  .arrowButton svg {
    width: 16px;
    height: 16px;
  }
  
}

.categoryItem:hover .categoryImage {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

