.carouselWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
}

.carouselContainer {
  overflow: hidden;
  width: 100%;
}

.carouselTrack {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carouselSlide {
  flex: 0 0 calc(100% / 3);
  border-radius: 10px;
  opacity: 0.6;
  transform: scale(0.95);
  transition: transform 0.4s ease, opacity 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.carouselSlide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.overlay {
  margin-top: 0.2rem;
  text-align: center;
}

.center {
  transform: scale(0.8);
  opacity: 1;
  z-index: 2;
}

.hovered {
  transform: scale(0.9);
  opacity: 1;
  z-index: 3;
}

.compressed {
  transform: scale(0.5);
  opacity: 0.4;
  z-index: 0;
}

.carouselArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carouselArrow svg {
  width: 20px;
  height: 20px;
  stroke: var(--main-blue);
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}

.carouselArrow:hover {
  background-color: var(--main-gray);
  transform: translateY(-50%) scale(1.05);
}

.carouselArrow:hover svg {
  stroke: white;
}

@media (max-width: 768px) {
  .carouselSlide {
    flex: 0 0 100%;
    padding: 0 1rem;
  }

  .carouselArrow {
    width: 32px;
    height: 32px;
  }

  .carouselArrow svg {
    width: 16px;
    height: 16px;
  }
}