


.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "custom-font-01";
}

.mainLogoRow {
  display: flex;
  justify-content: center;
}

.mainlogo {
  display: flex;
  margin: 40px auto 0;
  width: 150px;
  height: 180px;
}

.box1 {
  border: 1px solid rgb(238, 234, 234);
  border-radius: 17px;
  padding: 48px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputRow {
  width: 100%;
}

.customInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 462px;
  margin-bottom: 14px;
  border: 1px solid rgb(238, 234, 234);
  padding: 0 10px;
}

.customInput:hover {
  border-color: gray;
}

.cb {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.checkboxLabel {
  font-size: 14px;
  margin-left: 6px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 462px;
  height: 48px;
  padding: 9px 23px;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
}

.btn1 {
  background-color: #29c3ff;
  color: white;
  border: 1px solid;
}

.btn1:hover {
  background-color: #0c7dff;
}

.btn2 {
  background-color: #fee500;
  color: black;
}

.btn2:hover {
  background-color: #d1bc03;
}

.btn3 {
  background-color: #00d337;
  color: white;
}

.btn3:hover {
  background-color: #01a12c;
}

.btn4 {
  background-color: #ffffff;
  color: black;
  border: 2px solid #dddddd;
}

.btn4:hover {
  background-color: lightgray;
  color: white;
}

.kakao,
.naver,
.google {
  position: absolute;
  left: 15px;
}

.kakao {
  width: 23px;
  height: 23px;
  left: 18px;
}

.naver {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.google {
  width: 30px;
  height: 30px;
}

.hypertext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.663);
  font-size: 14px;
  padding: 0 10px;
}

.link:not(:last-child) {
  border-right: 1px solid lightgray;
  padding-right: 15px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}

/* (Optional) 모바일 대응용 header 아이콘 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: none;
  z-index: 1000;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
  }
}

.headerIcon {
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
}
