.mypageSection {
  max-width: 1348px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 140px;
  display: flex;
  background-color: none;
}

.content {
  width: 100%;
  margin-left: 33px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.expertBox {
  border: 1px solid #bcbcbc;
  border-radius: 12px;
  padding: 30px;
  background-color: transparent;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.expertGrade {
  text-align: start;
}

.label {
  font-size: 1rem;
  color: #6d6d6d;
  margin-bottom: 16px;
  font-weight: 500;
}

.value {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.gradeName {
  font-weight: 600;
}

.editProfile {
  color: #29C3FF;
  font-size: 1rem;
}

.profileHr {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #bcbcbc;
}

.expertInfoRow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 70%;
  margin-bottom: 40px;
  align-items: flex-start;
}

.expertInfoLabel {
  font-size: 1rem;
  color: #6d6d6d;
  font-weight: 500;
}

.expertInfoData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.expertEditInput {
  flex: 1;
  padding: 8px 16px;
  border: 1px solid #E4E5ED;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
}

.expertEditInput:disabled {
  color: #555;
  background-color: #FAFAFC;
  border-color: #E4E5ED;
}

.expertEditInput:focus {
  outline: none;
  box-shadow: none;
  border-color: #bcbcbc;
}

.editButtons {
  position: absolute;
  width: 90px;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
}

.editButtons a {
  color: #29C3FF;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.editActions {
  display: flex;
  gap: 10px;
}
